@*@using System.Domain.Entities*@
@*@model IEnumerable<EntityEmployee>*@
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Bienvenido al Sistema de Gestión de Inventarios</h2>