<?xml version="1.0"?>
<configuration>

  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5"/>
  </system.web>
  <system.serviceModel>

    <!--COMPORTAMIENTOS EN COMUN-->
    <behaviors>
      <serviceBehaviors>
        <behavior name="ServiceBehavior">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true"  />
        </behavior>
      </serviceBehaviors>

      <endpointBehaviors>
        <behavior name="ServiceBehaviorWeb">
          <webHttp />
        </behavior>
      </endpointBehaviors>
    </behaviors>
    
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" />
      
    <!--SERVICIOS-->
    <services>

      <!--SERVICIO DE USUARIO-->
      <service name="SGISystem.Services.Implementation.UsuarioServices"
                behaviorConfiguration="ServiceBehavior" >
        <endpoint address="basic"
                  binding="basicHttpBinding" 
                  bindingConfiguration="HttpBinding"
                  contract="SGISystem.Services.Contracts.IUsuarioServices">
        </endpoint>
        
        <endpoint behaviorConfiguration="ServiceBehaviorWeb"
                  binding="webHttpBinding" 
                  bindingConfiguration="WebBinding"
                  contract="SGISystem.Services.Contracts.IUsuarioServices">
        </endpoint>
      
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:10457/UsuarioServices"/>
            <add baseAddress="net.tcp://localhost:10457/UsuarioServices" />
          </baseAddresses>
        </host>
      </service>

      <!--SERVICIO DE EMPLEADO -->
      <service name="SGISystem.Services.Implementation.EmpleadoServices"
                behaviorConfiguration="ServiceBehavior" >
        <endpoint address="basic"
                  binding="basicHttpBinding" 
                  bindingConfiguration="HttpBinding"
                  contract="SGISystem.Services.Contracts.IEmpleadoServices">
        </endpoint>
        
        <endpoint behaviorConfiguration="ServiceBehaviorWeb"
                  binding="webHttpBinding" 
                  bindingConfiguration="WebBinding"
                  contract="SGISystem.Services.Contracts.IEmpleadoServices">
        </endpoint>
      
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:10457/EmpleadoServices"/>
            <add baseAddress="net.tcp://localhost:10457/EmpleadoServices" />
          </baseAddresses>
        </host>
      </service>

      <!--SERVICIO DE GRUPO-->
    <service name="SGISystem.Services.Implementation.GrupoServices"
                behaviorConfiguration="ServiceBehavior" >
        <endpoint address="basic"
                  binding="basicHttpBinding" 
                  bindingConfiguration="HttpBinding"
                  contract="SGISystem.Services.Contracts.IGrupoServices">
        </endpoint>
        
        <endpoint behaviorConfiguration="ServiceBehaviorWeb"
                  binding="webHttpBinding" 
                  bindingConfiguration="WebBinding"
                  contract="SGISystem.Services.Contracts.IGrupoServices">
        </endpoint>
      
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:10457/GrupoServices"/>
            <add baseAddress="net.tcp://localhost:10457/GrupoServices" />
          </baseAddresses>
        </host>
      </service>
      
      <!--Euler-->
      <service name="SGISystem.Services.Implementation.ProductoServices"
                behaviorConfiguration="ServiceBehavior" >
        <endpoint address="basic"
                  binding="basicHttpBinding"
                  bindingConfiguration="HttpBinding"
                  contract="SGISystem.Services.Contracts.IProductoServices">
        </endpoint>

        <endpoint behaviorConfiguration="ServiceBehaviorWeb"
                  binding="webHttpBinding"
                  bindingConfiguration="WebBinding"
                  contract="SGISystem.Services.Contracts.IProductoServices">
        </endpoint>

        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:10457/ProductoServices"/>
            <add baseAddress="net.tcp://localhost:10457/ProductoServices" />
          </baseAddresses>
        </host>
      </service>
    <!--fineuler-->
    
    <!--SERVICIO DE EMPRESA-->
        <service name="SGISystem.Services.Implementation.EmpresaServices"
                behaviorConfiguration="ServiceBehavior" >
        <endpoint address="basic"
                  binding="basicHttpBinding" 
                  bindingConfiguration="HttpBinding"
                  contract="SGISystem.Services.Contracts.IEmpresaServices">
        </endpoint>
        
        <endpoint behaviorConfiguration="ServiceBehaviorWeb"
                  binding="webHttpBinding" 
                  bindingConfiguration="WebBinding"
                  contract="SGISystem.Services.Contracts.IEmpresaServices">
        </endpoint>
      
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:10457/EmpresaServices"/>
            <add baseAddress="net.tcp://localhost:10457/EmpresaServices" />
          </baseAddresses>
        </host>
      </service>
    
    <!--SERVICIO DE TIENDA-->
      <service name="SGISystem.Services.Implementation.TiendaServices"
                behaviorConfiguration="ServiceBehavior" >
        <endpoint address="basic"
                  binding="basicHttpBinding"
                  bindingConfiguration="HttpBinding"
                  contract="SGISystem.Services.Contracts.ITiendaServices">
        </endpoint>

        <endpoint behaviorConfiguration="ServiceBehaviorWeb"
                  binding="webHttpBinding"
                  bindingConfiguration="WebBinding"
                  contract="SGISystem.Services.Contracts.ITiendaServices">
        </endpoint>

        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:10457/TiendaServices"/>
            <add baseAddress="net.tcp://localhost:10457/TiendaServices" />
          </baseAddresses>
        </host>
      </service>
      
    <!--SERVICIO DE CARGO-->
    <service name="SGISystem.Services.Implementation.CargoServices"
                behaviorConfiguration="ServiceBehavior" >
        <endpoint address="basic"
                  binding="basicHttpBinding"
                  bindingConfiguration="HttpBinding"
                  contract="SGISystem.Services.Contracts.ICargoServices">
        </endpoint>

        <endpoint behaviorConfiguration="ServiceBehaviorWeb"
                  binding="webHttpBinding"
                  bindingConfiguration="WebBinding"
                  contract="SGISystem.Services.Contracts.ICargoServices">
        </endpoint>

        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:10457/CargoServices"/>
            <add baseAddress="net.tcp://localhost:10457/CargoServices" />
          </baseAddresses>
        </host>
      </service>
      
      <!--SERVICIO DE PEDIDO-->
      <service name="SGISystem.Services.Implementation.PedidoServices"
                  behaviorConfiguration="ServiceBehavior" >
          <endpoint address="basic"
                    binding="basicHttpBinding"
                    bindingConfiguration="HttpBinding"
                    contract="SGISystem.Services.Contracts.IPedidoServices">
          </endpoint>

          <endpoint behaviorConfiguration="ServiceBehaviorWeb"
                    binding="webHttpBinding"
                    bindingConfiguration="WebBinding"
                    contract="SGISystem.Services.Contracts.IPedidoServices">
          </endpoint>

          <host>
            <baseAddresses>
              <add baseAddress="http://localhost:10457/PedidoServices"/>
              <add baseAddress="net.tcp://localhost:10457/PedidoServices" />
            </baseAddresses>
          </host>
        </service>
    
      <!--SERVICIO DE DETALLE PEDIDO-->
      <service name="SGISystem.Services.Implementation.DetallePedidoServices"
                  behaviorConfiguration="ServiceBehavior" >
          <endpoint address="basic"
                    binding="basicHttpBinding"
                    bindingConfiguration="HttpBinding"
                    contract="SGISystem.Services.Contracts.IDetallePedidoServices">
          </endpoint>

          <endpoint behaviorConfiguration="ServiceBehaviorWeb"
                    binding="webHttpBinding"
                    bindingConfiguration="WebBinding"
                    contract="SGISystem.Services.Contracts.IDetallePedidoServices">
          </endpoint>

          <host>
            <baseAddresses>
              <add baseAddress="http://localhost:10457/DetallePedidoServices"/>
              <add baseAddress="net.tcp://localhost:10457/DetallePedidoServices" />
            </baseAddresses>
          </host>
        </service>

      <!--SERVICIO DE UBIGEO / DEPA / PROVINCIA / DISTRITO -->
      <service name="SGISystem.Services.Implementation.UbigeoServices"
                  behaviorConfiguration="ServiceBehavior" >
        <endpoint address="basic"
                  binding="basicHttpBinding"
                  bindingConfiguration="HttpBinding"
                  contract="SGISystem.Services.Contracts.IUbigeoServices">
        </endpoint>

        <endpoint behaviorConfiguration="ServiceBehaviorWeb"
                  binding="webHttpBinding"
                  bindingConfiguration="WebBinding"
                  contract="SGISystem.Services.Contracts.IUbigeoServices">
        </endpoint>

        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:10457/UbigeoServices"/>
            <add baseAddress="net.tcp://localhost:10457/UbigeoServicesServices" />
          </baseAddresses>
        </host>
      </service>
    </services>

    <!--TIEMPOS DE ESPERA, CUOTA DE EXTREMO A EXTREMO-->
    <bindings>
      <basicHttpBinding>
        <binding name="HttpBinding" maxBufferPoolSize="2147483647" maxBufferSize="2147483647"
                 maxReceivedMessageSize="2147483647" openTimeout="00:10:00"
                 closeTimeout="00:10:00" sendTimeout="00:10:00" receiveTimeout="00:10:00" >
        </binding>  
      </basicHttpBinding>
        
      <webHttpBinding>
        <binding name="WebBinding" maxBufferPoolSize="2147483647" maxBufferSize="2147483647"
                 maxReceivedMessageSize="2147483647" openTimeout="00:10:00"
                 closeTimeout="00:10:00" sendTimeout="00:10:00" receiveTimeout="00:10:00" >
        </binding>  
      </webHttpBinding>
      
      <netTcpBinding>
        <binding name="TCPBinding" closeTimeout="00:10:00" openTimeout="00:10:00" sendTimeout="00:10:00" maxBufferPoolSize="2147483647" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="32" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647"/>
        </binding>
      </netTcpBinding>
    </bindings>

  </system.serviceModel>

  <!--CON RESPECTO A LA WEB-->
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <directoryBrowse enabled="true" />
  </system.webServer>

  <!--CADENA DE CONEXION-->
  
  <connectionStrings>
    <add name="DefaultConnection"
     providerName="System.Data.SqlClient"
     connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=SGI_BD;Uid=sa;Pwd=123456789;" />
  </connectionStrings>

  <!--<connectionStrings>
    <add name="DefaultConnection"
     providerName="System.Data.SqlClient"
     connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=SGI_BD;Uid=sa;Pwd=P@ssword123;" />
  </connectionStrings>-->

  <!--<connectionStrings>
    <add name="DefaultConnection"
     providerName="System.Data.SqlClient"
     connectionString="Data Source=localhost;Initial Catalog=SGI_BD;integrated security=true;" />
  </connectionStrings>-->

</configuration>
