<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5"/>
  </system.web>
<system.serviceModel>
  
  <!--COMPORTAMIENTOS EN COMUN--> 
    <behaviors>
      <serviceBehaviors>
        <behavior name="ServiceBehavior">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true"  />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    

  <!--SERVICIOS-->
  <services>

    <!--SERVICIO DE USUARIO-->
    <service name="SGISystem.Services.Implementation.UsuarioServices"
              behaviorConfiguration="ServiceBehavior" >
      <endpoint binding="basicHttpBinding" bindingConfiguration="HTTPBinding"
                contract="SGISystem.Services.Contracts.IUsuarioServices">
      </endpoint>
      <host>
        <baseAddresses>
          <add baseAddress="http://localhost:8090/SGI.ServiceContract/UsuarioServices"/>
          <add baseAddress="net.tcp://localhost:8090/SGI.ServiceContract/UsuarioServices" />
        </baseAddresses>
      </host>
    </service>

    <!--SERVICIO DE EMPLEADO TEST-->
    <service name="SGISystem.Services.Implementation.EmployeeServices"
              behaviorConfiguration="ServiceBehavior" >
      <endpoint binding="basicHttpBinding" bindingConfiguration="HTTPBinding"
                contract="SGISystem.Services.Contracts.IEmployeeServices" >
      </endpoint>
      <host>
        <baseAddresses>
          <add baseAddress="http://localhost:8090/SGI.ServiceContract/EmployeeServices"/>
          <add baseAddress="net.tcp://localhost:8090/SGI.ServiceContract/EmployeeServices" />
        </baseAddresses>
      </host>
    </service>
    
    <!--CREAR SERVICIOS AQUI-->
  </services>

    <!--TIEMPOS DE ESPERA, CUOTA DE EXTREMO A EXTREMO-->
    <bindings>
      <basicHttpBinding>
        <binding name="HTTPBinding" maxBufferPoolSize="2147483647" maxBufferSize="2147483647" 
                 maxReceivedMessageSize="2147483647" openTimeout="00:10:00"
                 closeTimeout="00:10:00" sendTimeout="00:10:00" receiveTimeout="00:10:00"/>
      </basicHttpBinding>
      <netTcpBinding>
        <binding name="TCPBinding" closeTimeout="00:10:00" openTimeout="00:10:00" sendTimeout="00:10:00" maxBufferPoolSize="2147483647" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="32" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647"/>
        </binding>
      </netTcpBinding>
    </bindings>
    
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  
  
  <!--CON RESPECTO A LA WEB-->
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
    <directoryBrowse enabled="true" />
  </system.webServer>

  <!--CADENA DE CONEXION-->
  <connectionStrings>
    <add name="DefaultConnection"
     providerName="System.Data.SqlClient"
     connectionString="Data Source=localhost;Initial Catalog=SGI_BD;Integrated Security=SSPI;" />
  </connectionStrings>
  
</configuration>
